<h1>Stupid Coaching</h1>
<h2>Here is your answer</h2>

<p><%= @your_message %></p>
<p>- <em>You</em></p>

<p><strong><%= @answer %></strong></p>
<p>- <em>Your coach</em></p>

<br>
<%= link_to "Ask another question", ask_path%>
